In [2]:
#create python tool for sentimental analysis 
import numpy as np
import pandas as pd
import tweepy
import matplotlib.pyplot as plt
import IPython.display 
from IPython.display import display
import seaborn as sns
%matplotlib inline

In [3]:
'''
#twitter access tokens
consumer_key='GTc2RpxcK3Y5wKhAjciEMYbj7'
consumer_secret='9hDJLhr37sQUcKvbdoWCUQD3u8SLX75Mo0DwiSqvBGf0sLUKq0'
access_key='775314049563111424-hmWCttrszUBJ5KBqTJyvR3bzcTkP4As'
sccess_secret='2M00eOoTvAiHjm8NXQYquWprfMgPv9pSRleMbFZlGDEGQ''''

In [9]:
import sys
sys.path.append('/Users/darshandoshi/Desktop/git-repositiories')
import credentials 
from credentials import *

In [16]:
#twitter api setup
def setup():
    auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
    auth.set_access_token(access_key,sccess_secret)
    api=tweepy.API(auth)
    return api

In [17]:
extract = setup()
tweets = extract.user_timeline(screen_name = 'realDonalTrump',count = 200)
print('number of tweets extracted : {}',len(tweets))
print('5 recent tweets:')
for t in tweets[:5]:
    print(t.text)

number of tweets extracted : {} 5
5 recent tweets:
Reply to @conor_pope @broadsheet_ie  Just as well your heavily overweighted Irish Times stipend allows you to take taxis then so.
@leahysarah "It's hard to believe that Norma left the world a whole year ago. It's such a lesser place without her."  Very true, Sarah!
RT @paula_span: Gay Men's Chorus singing "There is Nothing Like a Dame." Eulogy by Howard Stern. Sounds like a great sendoff for Joan http:…
RT @realDonaldTrump: "@kpasee: Hearing that Donald Trump went to Joan Rivers's funeral breaks my heart, I feel like she just won the celebr…
RT @nytimes: Some of the stories told at Joan Rivers's funeral can be printed in this newspaper http://t.co/MH4c2UHWwP http://t.co/Naodykgm…

In [20]:
data = pd.DataFrame(data=[tweet.text for tweet in tweets],columns=['tweets'])

In [22]:
display(data.head(10))

                                              tweets
0  Reply to @conor_pope @broadsheet_ie  Just as w...
1  @leahysarah "It's hard to believe that Norma l...
2  RT @paula_span: Gay Men's Chorus singing "Ther...
3  RT @realDonaldTrump: "@kpasee: Hearing that Do...
4  RT @nytimes: Some of the stories told at Joan ...

In [24]:
#adding relevant data
data['len']=np.array([len(tweet.text) for tweet in tweets])
data['ID']=np.array([tweet.id for tweet in tweets])
data['Date']=np.array([tweet.created_at for tweet in tweets])
data['Source']=np.array([tweet.source for tweet in tweets])
data['Likes']=np.array([tweet.favorite_count for tweet in tweets])
data['RTs']=np.array([tweet.retweet_count for tweet in tweets])

In [26]:
data.head(10)

,tweets,len,ID,Date,Source,Likes,RTs
0,Reply to @conor_pope @broadsheet_ie Just as w...,129,524923787658412033,2014-10-22 14:02:38,Twitter Web Client,54,22
1,"@leahysarah ""It's hard to believe that Norma l...",135,508925124092116992,2014-09-08 10:29:39,Twitter Web Client,13,6
2,"RT @paula_span: Gay Men's Chorus singing ""Ther...",140,508924636965666817,2014-09-08 10:27:43,Twitter Web Client,0,15
3,"RT @realDonaldTrump: ""@kpasee: Hearing that Do...",140,508924574298546176,2014-09-08 10:27:28,Twitter Web Client,0,70
4,RT @nytimes: Some of the stories told at Joan ...,140,508924469818437632,2014-09-08 10:27:03,Twitter Web Client,0,473